.desc-banner {
    display: flex;
    align-items: center;
    gap: 15px;
}



.menu{
    display: flex;
    gap: 80px;
    justify-content: center;

}


.post {
    display: flex;
}

.foto {
    width: 300px;
    height: 300px;
}

.desc {
   display: flex;
   flex-direction: column;
}

.especie {
    display: flex;
    justify-content: center;
}