body {
    background-color: bisque;
}

/*=========Banner=========*/

.desc-banner {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*===========Menu==========*/

.linha{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.menu{
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu:hover{
    transform: translateY(-15px) scale(1.2);
}

/*=========Animal==========*/

.post {
    display: flex;
}

.foto {
    width: 300px;
    height: 300px;
}

.desc {
   display: flex;
   flex-direction: column;
}

.desc h1{
    color: brown;
}

/*===========Tipo de animal===========*/

.especie {
    display: flex;
    justify-content: center;
}